@font-face {
	font-family: 'gfinity-test';
	src: url('/fonts/icons/gfinity-test.eot?169flq');
	src: url('/fonts/icons/gfinity-test.eot?169flq#iefix') format('embedded-opentype'),
		url('/fonts/icons/gfinity-test.ttf?169flq') format('truetype'),
		url('/fonts/icons/gfinity-test.woff?169flq') format('woff'),
		url('/fonts/icons/gfinity-test.svg?169flq#gfinity-test') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="gf-"],
[class*=" gf-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'gfinity-test' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gf-arrow-left:before {
	content: "\e900";
}

.gf-arrow-right:before {
	content: "\e901";
	color: #fff;
}

.gf-caret-down:before {
	content: "\e902";
}

.gf-caret-right:before {
	content: "\e903";
}

.gf-close:before {
	content: "\e904";
	color: #fff;
}

.gf-lock:before {
	content: "\e905";
}

.gf-logo:before {
	content: "\e906";
	color: #fff;
}

.gf-nav:before {
	content: "\e907";
}

.gf-pts-g:before {
	content: "\e908";
	color: #e94235;
}
