@font-face {
	font-family: 'Akzidenzgrotesk';
	src: url('/fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Akzidenzgrotesk';
	src: url('/fonts/akzidenzgrotesk-regular-webfont.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Akzidenzgrotesk';
	src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Akzidenzgrotesk';
	src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
	font-weight: 700;
}

html {
	font-family: "Akzidenzgrotesk", "Trebuchet MS", Helvetica, sans-serif;
}
