.navbar {
	@apply flex justify-between items-center relative z-20;

	&__logo-box {
		width: 105px;
		height: 105px;
		@apply bg-black-500 flex justify-center items-center;
	}

	&__menu {
		@apply mr-6 flex gap-4 font-bold tracking-default leading-4 text-sm items-center;
	}
}
