<template>
	<nav class="navbar">
		<nuxt-link to="/">
			<div class="navbar__logo-box">
				<i class="gf-logo"></i>
			</div>
		</nuxt-link>
		<div class="navbar__menu">
			FIFA 19
			<i class="gf-nav"></i>
		</div>
	</nav>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import 'app-bar';
</style>
