.player-card {
	width: 140px;

	&__image {
		filter: drop-shadow(0px 2px 12px rgba(107, 107, 101, 0.251748));
		height: 187px;
		@apply border border-gray-300 rounded-md w-full;
	}

	&__rank {
		@apply text-xs font-normal mt-4;
		color: #6B6B65;
		line-height: 14px;
	}

	&__name {
		@apply mt-1.5 text-base font-bold tracking-default;
		line-height: 19px;

		span {
			@apply flex items-center;

			i {
				@apply ml-3 text-xs;
			}
		}
	}

	&__state {
		@apply flex gap-4 items-center mt-4;

		&__text {
			@apply border border-black-500 uppercase text-xs w-fit leading-3 font-bold;
			padding: 3px 5px;
		}

		sup {
			@apply font-akzidenzgrotesk tracking-default font-bold ml-0.5;
			font-size: 11px;
			color: #E94235;
			line-height: 13px;
		}
	}
}
