<template>
	<div class="player-card">
		<div class="player-card__image">
			<img v-if="image" :src="image" alt="" />
		</div>
		<div class="player-card__rank">
			Team {{ isTeamLeader ? 'Leader' : 'Player' }} /
		</div>
		<div class="player-card__name">
			<span v-if="name"> {{ name }}</span>
			<span v-else>
				Invite Player
				<i class="gf-caret-right"></i
			></span>
		</div>
		<div v-if="readyState" class="player-card__state">
			<div class="player-card__state__text">Ready</div>
			<i class="gf-pts-g">
				<sup class="">74</sup>
			</i>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
		},
		image: {
			type: String,
		},
		isTeamLeader: {
			type: Boolean,
			default: false,
		},
		readyState: {
			type: Boolean,
			default: false,
		},
	},
}
</script>

<style lang="scss" scoped>
@import 'player-card';
</style>
