.select-panel {
	@apply border-t border-gray-300 pt-4 pr-2 box-border;

	&__box {
		@apply flex justify-between items-center relative;
	}

	&__label {
		@apply font-bold text-sm flex-1;
	}

	&__input {
		@apply text-black-500 flex items-center font-akzidenzgrotesk cursor-pointer;

		flex-basis: 57%;

		input {
			@apply w-full bg-transparent text-sm font-normal cursor-pointer;
			height: 34px;

			&:focus {
				outline: none;
			}
		}

		i {
			font-size: 9px;
		}
	}

	&__dropdown {
		max-height: 255px;
		z-index: 2;
		top: 100%;

		@apply absolute w-full hidden bg-white;

		li {
			padding: 9px 0 9px 20px;

			@apply border-b border-gray-300 text-sm cursor-pointer;
		}

		&.open {
			display: block;
		}
	}
}
