<template>
	<ul
		class="select-panel"
		tabindex="0"
		@focus="changeFocus()"
		@focusout="changeFocus(true)"
	>
		<li class="select-panel__box">
			<label class="select-panel__label">{{ label }}</label>
			<span class="select-panel__input">
				<input disabled :value="getValue" />
				<i class="gf-caret-down"></i>
			</span>
			<ul :class="[{ open: isActive }, 'select-panel__dropdown']">
				<li
					v-for="(item, index) in items"
					:key="index"
					:value="item[itemValue]"
					@click="selectOption(item[itemValue])"
				>
					{{ item[itemText] }}
				</li>
			</ul>
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		label: {
			type: String,
			required: true,
		},
		value: {
			type: String,
		},
		items: {
			type: Array,
		},
		itemText: {
			type: String,
			default: 'text',
		},
		itemValue: {
			type: String,
			default: 'value',
		},
	},
	data() {
		return {
			isActive: false,
		}
	},
	computed: {
		getValue() {
			return this.items.find((item) => item.value === this.value).text
		},
	},
	methods: {
		changeFocus(isFocusOut) {
			if (!isFocusOut) {
				this.isActive = !this.isActive
			} else {
				this.isActive = false
			}
		},
		selectOption(val) {
			this.$emit('input', val)
			this.changeFocus()
		},
	},
}
</script>

<style lang="scss" scoped>
@import 'select-panel';
</style>
