<template>
	<div
		:class="[
			disabled || loading
				? 'bg-black-500 hover:bg-black-600'
				: 'bg-blue-500  hover:bg-blue-600 cursor-pointer',
			'touchable-opacity',
		]"
		@click="goTo(to)"
	>
		<span class="touchable-opacity__label">{{
			loading ? 'Searching...' : label
		}}</span>
		<span class="touchable-opacity__info">
			<slot name="info" />
		</span>
		<div
			:class="[
				animationActive && !loading ? iconAnimation : '',
				'touchable-opacity__icon',
			]"
			@click="clickClose()"
		>
			<i :class="[loading ? 'gf-close' : 'gf-arrow-right']"></i>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		label: {
			type: String,
		},
		to: {
			type: String,
		},
		loading: {
			type: Boolean,
			default: false,
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		iconAnimation: {
			type: String,
		},
	},
	data() {
		return {
			animationActive: false,
		}
	},
	mounted() {
		this.checkAndActivateAnimation()
	},
	methods: {
		goTo(to) {
			if (to) {
				if (!this.loading && !this.disabled) this.$router.push(to)
			}
		},
		clickClose() {
			if (this.loading || this.disabled) this.$emit('click:close')
		},
		checkAndActivateAnimation() {
			if (this.iconAnimation) {
				setTimeout(() => {
					this.animationActive = true
				}, 1500)
			}
		},
	},
}
</script>

<style lang="scss" scoped>
.touchable-opacity {
	height: 89px;
	@apply text-white w-full flex items-center justify-between text-white font-akzidenzgrotesk px-4;
	&__label {
		@apply text-sm font-bold;
	}
	&__info {
		@apply text-sm font-normal;
	}
	&__icon {
		@apply text-sm font-bold p-4;
	}
}
</style>
