<template>
	<div class="default-layout">
		<app-bar />
		<nuxt-child
			@change:ronaldo="toggleRonaldoBox()"
			@change:accept="toggleAccept()"
		/>
		<div class="g-illustration">
			<img
				src="~/assets/images/gfinity-g-pos.svg"
				class="w-full"
				alt="gfinity-illustration"
			/>
		</div>
		<div
			:class="[
				{ isVisible: isRonaldoVisible },
				{ acceptActive: isAcceptActionActive },
				'ronaldo-box',
			]"
		>
			<img
				src="~/assets/images/fifa19-ronaldo-fg-lg.png"
				class="w-full"
				alt="ronaldo"
			/>
		</div>
	</div>
</template>

<script>
import AppBar from '~/components/app-bar.vue'

export default {
	components: {
		AppBar,
	},
	data() {
		return {
			isRonaldoVisible: false,
			isAcceptActionActive: false,
		}
	},
	methods: {
		toggleRonaldoBox() {
			this.isRonaldoVisible = !this.isRonaldoVisible
		},
		toggleAccept() {
			this.isAcceptActionActive = !this.isAcceptActionActive
		},
	},
}
</script>

<style lang="scss" scoped>
.default-layout {
	@apply bg-gray-400 relative overflow-x-hidden h-full;

	.g-illustration {
		@apply bottom-0 w-full absolute;
	}

	.ronaldo-box {
		top: -321px;
		left: 200px;
		width: 375px;
		height: 696.36px;
		@apply absolute z-10 transition-all duration-300;

		img {
			mix-blend-mode: multiply;
			opacity: 0.8;
		}

		&.isVisible {
			top: 104px;
			width: 95%;
			left: 0px;
			height: 637px;
			@apply bg-blue-500;

			&.acceptActive {
				@apply bg-black-500;
			}

			img {
				position: absolute;
				top: -20px;
				left: 41px;
				mix-blend-mode: multiply;
				opacity: 0.8;
			}
		}
	}
}
</style>
