<template>
	<main class="bg-gray-400 relative z-10">
		<header class="px-4">
			<div class="route-navigation"></div>
			<div
				class="page-title tracking-default text-base font-bold gap-6 flex items-center leading-[19px] py-4 border-b border-gray-300"
			>
				<i class="gf-arrow-left text-xs"></i>
				<p>Matchmaking Lobby</p>
			</div>
		</header>
		<div class="content pt-4">
			<div class="px-4">
				<div class="flex items-center">
					<h1 class="text-4xl font-bold tracking-[-2px]">
						steveroesler’s lobby
					</h1>
					<i class="gf-lock text-base ml-3.5"></i>
				</div>
				<div
					class="rounded-r-[100px] bg-black-500 text-white w-fit px-[7px] mt-[13px] tracking-[1.5px] text-[10px] font-bold"
				>
					FIFA 19
				</div>
				<div class="flex gap-4 mt-6">
					<player-card
						v-for="(player, index) in players"
						:key="index"
						:name="player.name"
						:image="player.image"
						:is-team-leader="player.isTeamLeader"
						:ready-state="player.readyState"
					></player-card>
				</div>
				<select-panel
					v-model="lobbyConfig.gameType"
					class="mt-8"
					label="Type"
					:items="gameTypes"
				/>
				<select-panel
					v-model="lobbyConfig.gameMode"
					class="mt-4"
					label="Gamemode"
					:items="gameModes"
				/>
				<select-panel
					v-model="lobbyConfig.status"
					class="mt-4"
					label="Lobby Status"
					:items="lobbyStatus"
				/>
			</div>
			<touchable-opacity
				class="mt-4"
				to="/lobby-matching"
				label="Play Now"
				icon-animation="animate-bounce_right"
			>
				<template #info> 4,021 in Queue </template>
			</touchable-opacity>
		</div>
	</main>
</template>

<script>
import PlayerCard from '~/components/player-card.vue'
import SelectPanel from '~/components/select-panel.vue'
import TouchableOpacity from '~/components/touchable-opacity.vue'

export default {
	components: {
		PlayerCard,
		SelectPanel,
		TouchableOpacity,
	},
	data() {
		return {
			gameTypes: [
				{
					text: 'Competitive',
					value: 'competitive',
				},
			],
			gameModes: [
				{
					text: 'Squad Battles',
					value: 'squad-battles',
				},
				{
					text: 'Free for all',
					value: 'free-for-all',
				},
			],
			lobbyStatus: [
				{
					text: 'Invite Only',
					value: 'invite-only',
				},
				{
					text: 'Public',
					value: 'public',
				},
			],
			players: [
				{
					isTeamLeader: true,
					name: 'steveroesler',
					image: '/images/player.png',
					readyState: true,
				},
				{
					isTeamLeader: false,
				},
			],
			lobbyConfig: {
				gameType: 'competitive',
				gameMode: 'squad-battles',
				status: 'invite-only',
			},
		}
	},
}
</script>

<style lang="scss"></style>
