<template>
	<div class="lobby">
		<nuxt-link to="/">
			<div class="lobby__route-box">
				<i class="gf-arrow-left"></i>
			</div>
		</nuxt-link>
		<div class="lobby__content">
			<div class="lobby__content__title">Matchmaking Lobby</div>
			<div class="lobby__content__process">
				{{
					!isPlayerFound
						? 'Searching for compatible opponents'
						: 'A match has been found for you!'
				}}
			</div>
			<div class="lobby__content__info">
				{{
					!isPlayerFound
						? 'We’re searching our database of players to pair you with an opponent of similar skill'
						: 'We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19'
				}}
			</div>
			<div class="lobby__content__owner">
				Lobby
				<div class="avatar">
					<img src="/images/steve-avatar.png" alt="" />
				</div>
			</div>
			<div class="lobby__content__players">
				<div class="hyphen">
					<div class="rect"></div>
				</div>
				{{
					!isPlayerFound
						? '4,021 in Queue'
						: 'By tapping accept, you agree to play a match that may last for up to 30 minutes.'
				}}
			</div>
			<div class="absolute right-0 bg-black top-[594px] w-4/5">
				<touchable-opacity
					to="/"
					:loading="loading"
					:label="touchableLabel"
					:disabled="pressDisabled"
					icon-animation="animate-bounce_right"
					@click:close="() => $router.push('/')"
				>
					<template #info>
						{{
							!isPlayerFound ? getSearchTime : getAcceptTime
						}}</template
					>
				</touchable-opacity>
			</div>
		</div>
	</div>
</template>

<script>
import TouchableOpacity from '~/components/touchable-opacity.vue'
export default {
	components: { TouchableOpacity },
	data() {
		return {
			isPlayerFound: false,
			loading: true,
			pressDisabled: false,
			touchableLabel: 'Searching...',
			searchTime: 90,
			acceptTime: 60,
			interval: null,
			shouldFindPlayer: Math.random() < 0.7,
		}
	},
	computed: {
		getSearchTime() {
			return this.toMinutes(this.searchTime)
		},
		getAcceptTime() {
			return this.toMinutes(this.acceptTime)
		},
	},
	beforeMount() {
		this.toggleRonaldoBox()
	},
	mounted() {
		this.interval = setInterval(() => {
			if (!this.isPlayerFound) {
				this.searchTime = this.searchTime - 1
				if (this.searchTime === 80 && this.shouldFindPlayer) {
					this.playerFound()
				} else if (this.searchTime === 0) {
					this.searchTimeout()
				}
			} else {
				this.acceptTime = this.acceptTime - 1
				if (this.acceptTime === 0) {
					this.acceptTimeout()
				}
			}
		}, 1000)
	},
	beforeDestroy() {
		this.toggleRonaldoBox()
		if (this.isPlayerFound) this.$emit('change:accept')
		if (this.interval) clearInterval(this.interval)
	},
	methods: {
		toggleRonaldoBox() {
			this.$emit('change:ronaldo')
		},
		playerFound() {
			this.isPlayerFound = true
			this.touchableLabel = 'Accept'
			this.loading = false
			this.pressDisabled = false
			this.$emit('change:accept')
		},
		acceptTimeout() {
			this.touchableLabel = 'Accept timeout'
			clearInterval(this.interval)
			this.loading = false
			this.pressDisabled = true
			this.$emit('change:accept')
		},
		searchTimeout() {
			this.touchableLabel = 'No Player found'
			clearInterval(this.interval)
			this.loading = false
			this.pressDisabled = true
		},
		toMinutes(secsTime) {
			const minutes = Math.floor(secsTime / 60)
			const seconds = secsTime % 60
			return (
				this.str_pad_left(minutes, '0', 2) +
				':' +
				this.str_pad_left(seconds, '0', 2)
			)
		},
		str_pad_left(string, pad, length) {
			return (new Array(length + 1).join(pad) + string).slice(-length)
		},
	},
}
</script>

<style lang="scss" scoped>
.lobby {
	@apply h-full relative z-20 border-0 text-white font-akzidenzgrotesk  h-full;

	&__route-box {
		width: 105px;
		height: 105px;
		@apply bg-black-500 flex justify-center items-center;

		i {
			@apply text-white text-xs;
		}
	}

	&__content {
		@apply px-4 pt-[42px] font-bold;

		&__process {
			@apply mt-6 text-5xl leading-[44px] tracking-[-3px];
		}

		&__info {
			@apply mt-6 text-lg max-w-[319px] font-normal leading-[22px] tracking-[-0.75px];
		}

		&__owner {
			@apply flex items-center gap-[33px] mt-[60px] text-xs font-normal leading-[14px];

			.avatar {
				@apply border-2 border-white rounded-full flex items-center justify-center;
				width: 56px;
				height: 56px;

				img {
					width: 42px;
					height: 42px;
				}
			}
		}

		&__players {
			@apply text-xs font-normal mt-9 flex gap-[33px] items-center;
			.hyphen {
				width: 32px;

				.rect {
					width: 12px;
					height: 2px;
					@apply bg-white;
				}
			}
		}
	}
}
</style>
